.button {
    background: #3f51b5;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.button.disabled {
    background: #dadada;
}

.button span {
    color:rgb(255, 255, 255);
}

.button i {
    color:rgb(255, 255, 255);
    vertical-align: sub;
}