.login {
    padding-top: 20px;

    @media screen and (min-width: 650px) {
        padding-top: 50px;
    }
}

.login .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;

    @media screen and (min-width: 650px) {
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
    }
}

.login .login-box {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 650px) {
        max-width: 400px;
        box-shadow: -4px 4px 24px -1px rgba(0, 0, 0, 0.2);
    }
}

.login .login-box-content {
    padding: 10px;

    @media screen and (min-width: 650px) {
        padding: 30px;
    }
}