.login {
    width: 100%;
    margin: 50px auto 0 auto;
    max-width: 400px;

    @media screen and (min-width: 450px) {
        box-shadow: -4px 4px 24px -1px rgba(0, 0, 0, 0.2);
    }      
}

.login-padding {
    padding: 30px;
}